{% import "components/links.njk" as links %}

<header>
	<div class="max-w-xl mx-auto px-5 py-10">
		<nav class="flex justify-between items-center">
			{{ links.light(href="/", text="Kieran Sweeden", isActive=(url === "/")) }}
			<ul class="list-none flex gap-5 align-center my-0 px-0">
				<li>
					{{ links.light(href="/blog/", text="Blog", isActive=(url.startsWith("/blog"))) }}
				</li>
				<li>
					{{ links.light(href="/about/", text="About", isActive=(url.startsWith("/about"))) }}
				</li>
				<li>
					{{ links.light(href="/contact/", text="Contact", isActive=(url.startsWith("/contact"))) }}
				</li>
			</ul>
		</nav>
	</div>
</header>