<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,400;0,700;1,400;1,700&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="unocss.css" />
		<title>{{ pageName }} · {{ SITE_NAME }}</title>
	</head>
	<body class="font-['Spectral']">
		<div class="max-w-3xl mx-auto">
			{% include "../partials/navigation.njk" %}
			{{ content | safe }}
		</div>
	</body>
</html>
